## Pre-lecture Homework

### Question 1

In [14]:
import pandas as pd
url = "https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD"
df_squirrels = pd.read_csv(url)

missing_data_counts = df_squirrels.isnull().sum()
print(missing_data_counts)

X                                                0
Y                                                0
Unique Squirrel ID                               0
Hectare                                          0
Shift                                            0
Date                                             0
Hectare Squirrel Number                          0
Age                                            121
Primary Fur Color                               55
Highlight Fur Color                           1086
Combination of Primary and Highlight Color       0
Color notes                                   2841
Location                                        64
Above Ground Sighter Measurement               114
Specific Location                             2547
Running                                          0
Chasing                                          0
Climbing                                         0
Eating                                           0
Foraging                                         0
Other Activities                              2586
Kuks                                             0
Quaas                                            0
Moans                                            0
Tail flags                                       0
Tail twitches                                    0
Approaches                                       0
Indifferent                                      0
Runs from                                        0
Other Interactions                            2783
Lat/Long                                         0
dtype: int64

### Question 2

In [3]:
# 1
num_rows, num_columns = df_squirrels.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 3023
Number of columns: 31

2. The observations in this dataset correspond to the rows, while variables refer to the columns. 
    - Observations are the individual data points, and in the context of the squirrels dataset, each row/observation represents an individual squirrel. 
    - Variables on the other hand, are the properties included with each row (or in this case, squirrel) and are commonly known as the columns. For example, each squirrel has variables for Date, Age, ID, etc.

### Question 3

In [5]:
df_squirrels.describe()

                 X            Y          Date  Hectare Squirrel Number
count  3023.000000  3023.000000  3.023000e+03              3023.000000
mean    -73.967184    40.780853  1.011949e+07                 4.123718
std       0.007726     0.010285  4.246671e+04                 3.096492
min     -73.981159    40.764911  1.006202e+07                 1.000000
25%     -73.973102    40.771676  1.008202e+07                 2.000000
50%     -73.968594    40.778166  1.012202e+07                 3.000000
75%     -73.960189    40.791219  1.014202e+07                 6.000000
max     -73.949722    40.800119  1.020202e+07                23.000000

In [13]:
df_squirrels.shape

(3023, 31)

In [6]:
df_squirrels.columns

Index(['X', 'Y', 'Unique Squirrel ID', 'Hectare', 'Shift', 'Date',
       'Hectare Squirrel Number', 'Age', 'Primary Fur Color',
       'Highlight Fur Color', 'Combination of Primary and Highlight Color',
       'Color notes', 'Location', 'Above Ground Sighter Measurement',
       'Specific Location', 'Running', 'Chasing', 'Climbing', 'Eating',
       'Foraging', 'Other Activities', 'Kuks', 'Quaas', 'Moans', 'Tail flags',
       'Tail twitches', 'Approaches', 'Indifferent', 'Runs from',
       'Other Interactions', 'Lat/Long'],
      dtype='object')

### Question 4

The discrepancies between the size of the dataset given by *df_squirrels.shape* and the output of *df_squirrels.describe()* boils down to the fact that *.shape* counts all rows and columns regardless of missing values or data types. The method *.describe()* only counts numerical columns and does not count any cells that contain a missing value, leading to a discrepancy between *.shape* and *.describe()*.
- With respect to the number of columns it analyzes, *df_squirrels.shape* counts all columns containing both numerical and categorical values, while *df_squirrels.describe()* only displays columns containing numerical values while ignoring cells with missing values
- With respect to the values it reports in the "count" column, although they seem the same, *df_squirrels.describe()* does not count missing values when calculating the summary statistics. This means that the "count" column does not contain missing values for that particular column. Now, not to be redundant, but *df_squirrels.shape* counts all columns and rows regardless of missing values, which leads to a discrepancy between the count in *.shape* and *.describe()*.

### Question 5

Attributes provide information about the dataset's columns, data types, variables, but do not manipulate the data in any way. It's like a type of window into your dataset. 

Methods are functions that perform an action that either manipulates or calculates using the data. Methods can sort, filter, change, format, and perform many other actions.

In summary, attributes don't end with parentheses and only return a list of information about the dataset, while methods do end with parentheses and manipulates or computes values using the data.

### ChatBot Summary (Q1-5)

(https://chatgpt.com/share/720d4bfd-2a96-445e-801a-d6d91f229df3)

ChatGPT Summary: 

1. **Dataset Overview**: 
   - You provided a dataset URL, and I explained how to check the number of rows and columns using `df.shape`.
   - I clarified the meaning of **observations** (rows) and **variables** (columns) in the context of your dataset.

2. **Summarizing Data**: 
   - I shared different ways to summarize your dataset’s columns, including using `df.info()`, `df.describe()`, and `df.nunique()` for unique values and missing data detection.

3. **Discrepancies Between `df.shape` and `df.describe()`**:
   - We explored why there can be differences in the reported size of the dataset and what `df.describe()` shows, particularly due to data type differences and how missing values are handled.

4. **Attributes vs. Methods in Pandas**: 
   - I explained the difference between **attributes** (properties like `df.shape`) and **methods** (functions like `df.head()`) in Pandas.

## Post-lecture Homework

### Question 6

Since *df.describe()* ignores missing values, assume that when I talk about the values in the dataset, I am referring to all non-missing data cells.

- **Count**
    - To reiterate, *df.describe()* excludes all missing values, so **count** would refer to the number of non-missing values in each column 
- **Mean**
    - Also known as the average, is the sum of all values in each column divided by the number of values in that column (**count**)
- **Std**
    - **Std** refers to the standard deviation, which is the amount of variation of the values in regards to the **mean**. A low standard deviation means that the values are close to the mean while a larger standard deviation means that the values are farther away from the mean
- **Min**
    - **Min** is the minimum value in the column, also known as the smallest
- **25%**
    - **25%** means the 25th percentile or first quartile in which 25% of the data falls under. The value in *df.describe()* is the calculated value of the first quartile. So 25% of the data in that column is less than or equal to that calculated value
- **50%**
    - Also referred to as the median, is the mid-point where 50% of the data is less than or equal to the calculated value, and 50% is greater than equal to. Medians are important to disregard any outliers that might skew the data 
- **75%**
    - Similar to **25%**, 75% of the data falls under the calculated value of the 75th percentile or third quartile, which means that 75% of the data is less than or equal to that value 
- **Max**
    - This refers to the largest value in the column

### Question 7

1. A case where *df.dropna()* is preferred over *del df['col']*, is when there is only missing data in some of the cells in a column. If there is valuable information in a column but it consisted of some missing data, you wouldn't want to use *del df['col']* to delete the whole column, but *df.dropna()* to only remove the missing cells while keeping the columns intact. Take the *df_squirrels* for example:

In [7]:
df_squirrels

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,NaN,Gray,"Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,False,False,False,False,False,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025)

In [6]:
df_squirrels.isna().sum()

X                                                0
Y                                                0
Unique Squirrel ID                               0
Hectare                                          0
Shift                                            0
Date                                             0
Hectare Squirrel Number                          0
Age                                            121
Primary Fur Color                               55
Highlight Fur Color                           1086
Combination of Primary and Highlight Color       0
Color notes                                   2841
Location                                        64
Above Ground Sighter Measurement               114
Specific Location                             2547
Running                                          0
Chasing                                          0
Climbing                                         0
Eating                                           0
Foraging                                         0
Other Activities                              2586
Kuks                                             0
Quaas                                            0
Moans                                            0
Tail flags                                       0
Tail twitches                                    0
Approaches                                       0
Indifferent                                      0
Runs from                                        0
Other Interactions                            2783
Lat/Long                                         0
dtype: int64

If we look at *Age*, there are only 121/3023 rows in which there is a missing value. Using *del df['col']* will remove the *Age* column entirely while *df.dropna()* will only remove the rows with missing values.

2. *del df['col']* is preferred over *df.dropna()* if the column you intend to delete has only missing, redundant, or irrelevant values. Say you are conducting an analysis on the squirrel dataset using every column except for the *Date* column, if you are only conducting that analysis and don't need the data for anything else, it would be appropriate to use *del df['Date']*.

3. When in need of both *del df['col']* and *df.dropna()*, you must apply *del df['col']* first in the case that the dataset has one column with all missing values, and a few missing values here and there in other columns.

In [26]:
example_df = {
    'A': [7, 1, 8, 3],
    'B': [None, None, None, None],
    'C': [7, None, 9, 1],
    'D': [None, 2, 10, 0],
    'E': [3, 6, 4, 7]
}

df = pd.DataFrame(example_df)
df

   A     B    C     D  E
0  7  None  7.0   NaN  3
1  1  None  NaN   2.0  6
2  8  None  9.0  10.0  4
3  3  None  1.0   0.0  7

Take the above dataframe for example, if you use *df.dropna()* first, then the whole dataset will be deleted since that method deletes all rows where there's a missing value. If you had used *del df['col']* first, you could delete column B and then use *df.dropna()* so that you'd still have row 2 and 3 left since deleting column B would make it so row 2 and 3 have no missing values.

4. Let's use the above example dataframe to remove all missing data:

In [27]:
del df['B']
df

   A    C     D  E
0  7  7.0   NaN  3
1  1  NaN   2.0  6
2  8  9.0  10.0  4
3  3  1.0   0.0  7

In [28]:
df.dropna()

   A    C     D  E
2  8  9.0  10.0  4
3  3  1.0   0.0  7

Using this small dataset, you can see the impact of deleting missing values. I followed question 7.3's reasoning and used *del df['col']* first so that my whole dataset wouldn't be deleted. Then I used *df.dropna()* to get rid of the rest of the missing values so that I'll end up with a dataset with all non-missing values.

### ChatBot Summary (Q6-7)
(https://chatgpt.com/share/66e36072-016c-8002-8f5a-361870cf3983)

ChatGPT Summary:

1. **`df.describe()` and the 25th percentile**:  
   The `25%` in `df.describe()` represents the **25th percentile** (Q1), which is the value below which 25% of the data falls for each column.

2. **Removing rows with missing values**:  
   The `df.dropna()` method **removes entire rows** that contain any missing (`NaN`) values. It doesn't remove just the missing values while keeping the row.

3. **When to use `del df['col']` vs. `df.dropna()`**:  
   - `del df['col']` is used to **delete a column** from a DataFrame.
   - `df.dropna()` removes rows (or columns) with missing values.
   You would use `del df['col']` first when the column contains many `NaN` values to avoid unnecessarily dropping rows with valid data during `df.dropna()`. This helps preserve useful rows and improves performance.

This distinction is essential to ensure you're cleaning the data effectively without losing important information.

### Question 8

In [37]:
url2 = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df_titanic = pd.read_csv(url2)
df_titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

1. The general method *df.groupby("col1")["col2"].describe()* will group all the data by *col1* and then only show the summary statistics of *col2*. The first example (below) shows this by grouping the data by *class* (First, Second, Third) and then calculating the summary statistics for only the *age* column. In the case where only categorical columns are used, using the second example, it will only display the count of females and males, how many unique variables are in *sex*, the most frequently occuring variable, and how many times that variable shows up.

In [41]:
# example 1
grouped_stats = df_titanic.groupby("class")["age"].describe()
print(grouped_stats)

        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [42]:
# example 2
grouped_stats = df_titanic.groupby("class")["sex"].describe()
print(grouped_stats)

       count unique   top freq
class
First    216      2  male  122
Second   184      2  male  108
Third    491      2  male  347

2. The values of *count* in *df.describe()* are counting non-missing values in whole column. Take the below code as an example, the *count* for *df['col2'].describe()* would equal 4 because there are 4 non-missing values in column 2. While *df.groupby("col1")["col2"].describe()* would count the number of non-missing values in col2 where col1 = A, and the same for when col2 = B. This would produce a count of 1 when col1 = A and count of 2 when col1 = B. 
    
    So while the count in, say *df['col2'].describe()*, counts all non-missing values in column 2, *df.groupby("col1")["col2"].describe()* counts all non-missing values in column 2 grouped by column 1.

In [49]:
data = {'col1': ['A', 'A', 'B', 'B', None],
        'col2': [10, None, 30, 40, 50]}
df = pd.DataFrame(data)
df

   col1  col2
0     A  10.0
1     A   NaN
2     B  30.0
3     B  40.0
4  None  50.0

In [44]:
df = df_titanic.dropna()
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  182.000000  182.000000  182.000000  182.000000  182.000000  182.000000
mean     0.675824    1.192308   35.623187    0.467033    0.478022   78.919735
std      0.469357    0.516411   15.671615    0.645007    0.755869   76.490774
min      0.000000    1.000000    0.920000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   24.000000    0.000000    0.000000   29.700000
50%      1.000000    1.000000   36.000000    0.000000    0.000000   57.000000
75%      1.000000    1.000000   47.750000    1.000000    1.000000   90.000000
max      1.000000    3.000000   80.000000    3.000000    4.000000  512.329200

In [47]:
df = df_titanic.dropna()
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  182.000000  182.000000  182.000000  182.000000  182.000000  182.000000
mean     0.675824    1.192308   35.623187    0.467033    0.478022   78.919735
std      0.469357    0.516411   15.671615    0.645007    0.755869   76.490774
min      0.000000    1.000000    0.920000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   24.000000    0.000000    0.000000   29.700000
50%      1.000000    1.000000   36.000000    0.000000    0.000000   57.000000
75%      1.000000    1.000000   47.750000    1.000000    1.000000   90.000000
max      1.000000    3.000000   80.000000    3.000000    4.000000  512.329200

#### 3A) 
ChatBot produces a clear and fast response displaying the piece of code needed to fix the error. As opposed to a Google search where I had clicked on the first link and it led me to Stack Overflow, and then I had to navigate through someone else's code to find the solution at the bottom of the page. Since this was an "easy" error, there was no need to work with ChatBot to fix the error as it gave me the solution outright and even included a working code using the code I gave it.

In [1]:
url = "https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD"
df_squirrels = pd.read_csv(url)

NameError: name 'pd' is not defined

#### B)
Once again, the ChatBot is more helpful as it provides an overview of why the error is occuring, and then giving 3 possible solutions with code examples and clear labelling of the cause might be and it's solution. As opposed to a Google search, they lead you to forums of people asking the same question but your problem might not be the same. This will lead you down a rabbit hole where you must look through many websites to find a solution to your problem. With ChatBot, I can resolve my error by asking specific questions regarding my dataset.

In [5]:
import pandas as pd
url = "titanics.csv"
df = pd.read_csv(url)
df

FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'

#### C)
Similar to A, I'm getting the NameError and ChatBot has once again been faster at producing a clear and concise answer. In the ChatBot session (that I will link at the end), the first solution it gives is "You may not have created the DataFrame (df) before calling df.describe()", which is exactly my problem. Compared to a Google search, there is a clear solution from Chegg that appears, telling me that "The reason for the error is that the object 'df' is not defined. Make sure to define the DataFrame", but seeing the further explanation requires me to create an account.

In [1]:
import pandas as pd
url = "https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD"
df.describe()

NameError: name 'df' is not defined

#### D)
ChatBot describes common examples of when the following SyntaxError occurs and provides 3 solutions on how to fix it with example code. Google doesn't provide an explicit solution to my problem but it does show other examples of when the error occurs, such as missing colons. Overall, ChatBot provides a better solution to my problem using code that mirrors my code, and does so in a quicker manner than searching all over Google.

In [2]:
import pandas as pd
url = "https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD"
df = pd.read_csv(url

SyntaxError: incomplete input (1638414348.py, line 3)

#### E)
It seems as though this error and specific mistake is quite common since both ChatBot and Google produced a clear answer that was easy to find. Although, I will have to give it to Google for this error as it led me to a reddit post where someone had clearly stated "I mean, isn't it groupby(), not group_by()?". This would make me double-check my answer and realize that I wrote it wrong. Another person also replied with a link to the *df.groupby()* method from the pandas website, which may be useful for looking more in depth. ChatBot's response was also quick and concise so it is a close tie, but having a human recite what the problem is makes it more understandable especially when it's in an informal tone.

In [3]:
import pandas as pd
url = "https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD"
df = pd.read_csv(url)
df.group_by("Age")["Hectare Squirrel Number"].describe()

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [12]:
df.groupby("Age")["Hectare Squirrel Number"].describle()

AttributeError: 'SeriesGroupBy' object has no attribute 'describle'

#### F)
The ChatBot is more useful in this scenario as it explains what KeyError means and gives pieces of code to run to check what the problem may be. According to a Google search, people seem to know what the error means but fail to explain it in simple terms as they use words like "Key" and "Dictionary", which people new to Python may not understand. When I asked the ChatBot what my possible problem was and how to code it, it gave me a method to check my columns and code to actually solve the problem.

In [11]:
import pandas as pd
url = "https://data.cityofnewyork.us/api/views/vfnx-vebw/rows.csv?accessType=DOWNLOAD"
df = pd.read_csv(url)
df.groupby("age")["Hectare squirrel Number"].describe()

KeyError: 'age'

In [10]:
df.groupby("Age")["Hectare squirrel Number"].describe()

KeyError: 'Column not found: Hectare squirrel Number'

#### G)
Typically, Google brings up relevant forums where people have shared their code along with the error they got, resulting in me having to scroll through large pieces of code to get to the answer which may be irrelevant to my code. ChatBot on the other hand, shows a simple piece of code including only the important parts which is fixing what I typed. It tells me that I might've used the column name as though it was a variable and suggests a quick fix. Even with the second error of invalid syntax, it tells me outright that I didn't put *Hectare Squirrel Number* in quotations and shows me how it should look like.

In [6]:
df.groupby(age)["Hectare Squirrel Number"].describe()

NameError: name 'age' is not defined

In [7]:
df.groupby("age")[Hectare Squirrel Number].describe()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3407975741.py, line 1)

### ChatBot Summary (Q8-8.3D)
(https://chatgpt.com/share/66e38c91-d4f4-8002-bc25-a72e90d18ecf)
**Separate link because it wouldn't let me continue the chat since I hit the free plan limit of GPT-4o and it needed that model to continue**

ChatGPT Summary: 

1. **Titanic Dataset Analysis**:
   - You wanted help with understanding and analyzing the Titanic dataset using pandas in Python.
   - We explored the usage of `df.groupby("col1")["col2"].describe()`, discussing how it calculates descriptive statistics for a grouped column and explained the meanings of columns like `top` and `freq` when using categorical (non-numeric) data.
   
2. **Error Debugging**:
   - You encountered several common errors while loading and analyzing the Titanic dataset, including:
     - `FileNotFoundError`: This was caused by an incorrect file name or file path, and we corrected it by ensuring you used the correct file name (`titanic.csv`) and URL path.
     - `NameError: name 'df' is not defined`: This error occurred because the DataFrame (`df`) wasn’t defined. We resolved it by ensuring the DataFrame is initialized before being used.
     - `SyntaxError: incomplete input`: This happened due to missing parentheses. We discussed how to fix it by ensuring that parentheses and quotes are properly closed in your code.
   
3. **Correct CSV Upload Code**:
   - I provided examples on how to properly load the Titanic dataset into pandas, either from a local file or directly from an online URL. We also discussed how to ensure the code runs without syntax issues.


### ChatBot Summary (Q8.3E-G)
(https://chatgpt.com/share/66e396fe-e880-8002-9473-aa2289d321ae)

ChatGPT Summary: 

1. **Chained Function Error:** You encountered an `AttributeError` because you used `group_by` instead of `groupby` on a Pandas DataFrame. The correct method is `groupby`.

2. **KeyError for Column Name:** You got a `KeyError` for `'age'` because the column `'age'` might not exist or was misspelled. You should check column names using `df.columns` and ensure you’re using the correct name.

3. **Fixing Column Name Errors:** To fix a misspelled column name, verify the exact column names with `df.columns`, use the correct name in your code, or rename the column if necessary.

4. **SyntaxError with Column Names:** You encountered a `SyntaxError` because you used `Hectare Squirrel Number` without quotes. Column names should be enclosed in quotes when used as string literals.

### Question 9
I haven't checked the wiki-textbook but will eventually. I have basic knowledge of R which has helped me understand some Python Pandas code since they have similar processes, and the method names are self-explanatory.